.ndSelector {
  z-index: 1337;
  position: absolute;
  top: 0;
  border: 5px solid rgba(255, 0, 0, .5);
  border-top: 0;
  border-bottom: 0;

  transition: opacity .3s ease-in-out;

  &:after {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: attr(data-name);
  }


  &[data-visible='true'] {
    opacity: 1;
  }

  &[data-visible='false'] {
    opacity: 0;

    &:after {
      //opacity: .1;
    }
  }
}
