.selector_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  transition: opacity ease-in .3s;
  opacity: 1;
  z-index: 1337;

  &::after, &::before {
    content: '';
  }

  .selectortoggle:not(:checked) ~ div & {
    opacity: 0;
  }
}

.ndSelector {
  animation: red-pulse 1s alternate infinite;
  position: relative;

  &::after {
    color: rgba(255,0,50,.8);
    content: '[' attr(data-name) ']';
    position: absolute;
    top: -40px;
    left: 20px;
  }

  &::before {
    content: '';
    border-left: 1px solid rgba(255,0,50,.8);
    height: 30px;
    transform: rotate(40deg);
    position: absolute;
    top: -29px;
    left: 13px;
  }

  &[data-visible='true'] {
    opacity: 1;
  }

  &[data-visible='false'] {
    opacity: 0;
  }
}

@keyframes red-pulse {
  from {
    box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255,0,50,.8), 0 0 5px 3px rgba(255,0,50,.9);
  }
  to {
    box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255,0,50,.8), 0 0 0px rgba(255,0,50,.4);
  }
}
