@import "ndSelector";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  font: 1em sans-serif;
}

h1 {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.25em;
  padding: 0;
  margin: .25em 0 0 0;
}

$canvas-width: 480px;
$canvas-height: 480px;

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nerddisco {
  position: relative;
  width: $canvas-width;
  height: $canvas-height;

  canvas {
    background: #000;
  }
}

video {
  display: none;
  visibility: hidden;
}

.buttons {
  margin: .25em 0 0 0;
  padding: 0 0 0 .5em;
  display: inline-block;
  float: left;
  text-transform: uppercase;
  border-left: 1px solid #333;
}
