@import "ndSelector";

$bg_color: #222;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $bg_color;
  font: 1em sans-serif;
}

h1 {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.25em;
  padding: 0;
  margin: .25em 0 0 0;
}

$canvas-width: 480px;
$canvas-height: 480px;

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

$h: $canvas-height;
$bs: 0 0 transparent;

$hue: 360;
$side-d: 120;
$size-d: 40;

@for $i from 1 to 20 {
  $bs: $bs,
     #{-20px - random($side-d)}
     #{random($h - 4px * $size-d) + 2px * $size-d}
     0
     #{random($size-d)+px}
     hsla($hue, 80%, random(50%), .5);
  $bs: $bs,
     #{20px + random($side-d)}
     #{random($h - 4px * $size-d) + 2px * $size-d}
     0
     #{random($size-d)+px}
     hsla($hue, 80%, random(50%), .5);
}

#nerddisco {
  position: relative;
  width: $canvas-width;
  height: $canvas-height;


  box-shadow:
     -40px 0 0 -20px hsla($hue, 80%, random(50%), .5),
     40px 0 0 -20px hsla($hue, 80%, random(50%), .5);
  &::before {
    content: '';
    position: absolute;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: $bs;
  }

  canvas {
    position: relative;
    background: #000;
  }
}



video {
  display: none;
  visibility: hidden;
}

.buttons {
  margin: .25em 0 0 0;
  padding: 0 0 0 .5em;
  display: inline-block;
  float: left;
  text-transform: uppercase;
  border-left: 1px solid #333;
}
