.selector_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: opacity ease-in .3s;
  transition: opacity ease-in .3s;
  opacity: 1;
  z-index: 1337; }
  .selector_container::after, .selector_container::before {
    content: ''; }
  .selectortoggle:not(:checked) ~ div .selector_container {
    opacity: 0; }

.ndSelector {
  -webkit-animation: red-pulse 1s alternate infinite;
  animation: red-pulse 1s alternate infinite;
  position: relative; }
  .ndSelector::after {
    color: rgba(255, 0, 50, 0.8);
    content: "[" attr(data-name) "]";
    position: absolute;
    top: -40px;
    left: 20px; }
  .ndSelector::before {
    content: '';
    border-left: 1px solid rgba(255, 0, 50, 0.8);
    height: 30px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    position: absolute;
    top: -29px;
    left: 13px; }
  .ndSelector[data-visible='true'] {
    opacity: 1; }
  .ndSelector[data-visible='false'] {
    opacity: 0; }

@-webkit-keyframes red-pulse {
  from {
    -webkit-box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 0, 50, 0.8), 0 0 5px 3px rgba(255, 0, 50, 0.9);
    box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 0, 50, 0.8), 0 0 5px 3px rgba(255, 0, 50, 0.9); }
  to {
    -webkit-box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 0, 50, 0.8), 0 0 0px rgba(255, 0, 50, 0.4);
    box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 0, 50, 0.8), 0 0 0px rgba(255, 0, 50, 0.4); } }

@keyframes red-pulse {
  from {
    -webkit-box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 0, 50, 0.8), 0 0 5px 3px rgba(255, 0, 50, 0.9);
    box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 0, 50, 0.8), 0 0 5px 3px rgba(255, 0, 50, 0.9); }
  to {
    -webkit-box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 0, 50, 0.8), 0 0 0px rgba(255, 0, 50, 0.4);
    box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 0, 50, 0.8), 0 0 0px rgba(255, 0, 50, 0.4); } }

.controls {
  position: relative;
  margin-left: 40px;
  margin-right: -20px; }
  .controls label,
  .controls button {
    display: block;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    cursor: pointer;
    background: 0 0 transparent -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(49%, rgba(255, 255, 255, 0.5)));
    background: 0 0 transparent -webkit-linear-gradient(left, transparent 50%, rgba(255, 255, 255, 0.5) 49%);
    background: 0 0 transparent linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.5) 49%);
    background-size: 202%;
    -webkit-transition: background-position ease-in .3s;
    transition: background-position ease-in .3s; }
    .controls label:hover, .controls label:focus,
    .controls button:hover,
    .controls button:focus {
      background-position: -98% 0; }

.selectortoggle {
  opacity: 0; }

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #222;
  font: 16px monospace; }

h1 {
  font-size: 2em;
  padding: 0;
  margin: 0; }

h2 {
  font-size: 1.25em;
  padding: 0;
  margin: .25em 0 0 0; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

#nerddisco {
  position: relative;
  width: 480px;
  height: 480px;
  -webkit-box-shadow: -40px 0 0 -20px rgba(96, 11, 11, 0.5), 40px 0 0 -20px rgba(211, 23, 23, 0.5);
  box-shadow: -40px 0 0 -20px rgba(96, 11, 11, 0.5), 40px 0 0 -20px rgba(211, 23, 23, 0.5); }
  #nerddisco::before {
    content: '';
    position: absolute;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 0 transparent, -98px 139px 0 16px rgba(129, 14, 14, 0.5), 79px 260px 0 11px rgba(138, 15, 15, 0.5), -59px 240px 0 22px rgba(110, 12, 12, 0.5), 62px 200px 0 24px rgba(188, 21, 21, 0.5), -113px 126px 0 25px rgba(46, 5, 5, 0.5), 87px 148px 0 30px rgba(69, 8, 8, 0.5), -61px 396px 0 7px rgba(64, 7, 7, 0.5), 64px 226px 0 18px rgba(69, 8, 8, 0.5), -79px 224px 0 33px rgba(119, 13, 13, 0.5), 74px 272px 0 1px rgba(60, 7, 7, 0.5), -45px 349px 0 15px rgba(37, 4, 4, 0.5), 110px 181px 0 11px rgba(138, 15, 15, 0.5), -119px 103px 0 13px rgba(83, 9, 9, 0.5), 61px 217px 0 5px rgba(106, 12, 12, 0.5), -101px 124px 0 19px rgba(197, 22, 22, 0.5), 136px 268px 0 1px rgba(184, 20, 20, 0.5), -133px 328px 0 15px rgba(106, 12, 12, 0.5), 128px 271px 0 1px rgba(119, 13, 13, 0.5), -77px 228px 0 9px rgba(106, 12, 12, 0.5), 129px 254px 0 25px rgba(110, 12, 12, 0.5), -103px 285px 0 19px rgba(115, 13, 13, 0.5), 29px 179px 0 7px rgba(230, 26, 26, 0.5), -104px 357px 0 31px rgba(211, 23, 23, 0.5), 120px 82px 0 30px rgba(230, 26, 26, 0.5), -46px 160px 0 12px rgba(193, 21, 21, 0.5), 36px 110px 0 38px rgba(18, 2, 2, 0.5), -23px 303px 0 34px rgba(142, 16, 16, 0.5), 90px 198px 0 33px rgba(96, 11, 11, 0.5), -113px 237px 0 8px rgba(207, 23, 23, 0.5), 44px 275px 0 31px rgba(179, 20, 20, 0.5), -123px 83px 0 15px rgba(138, 15, 15, 0.5), 74px 366px 0 33px rgba(96, 11, 11, 0.5), -105px 309px 0 2px rgba(9, 1, 1, 0.5), 68px 213px 0 13px rgba(14, 2, 2, 0.5), -69px 400px 0 39px rgba(28, 3, 3, 0.5), 74px 312px 0 29px rgba(110, 12, 12, 0.5), -93px 295px 0 27px rgba(184, 20, 20, 0.5), 41px 288px 0 34px rgba(207, 23, 23, 0.5);
    box-shadow: 0 0 transparent, -98px 139px 0 16px rgba(129, 14, 14, 0.5), 79px 260px 0 11px rgba(138, 15, 15, 0.5), -59px 240px 0 22px rgba(110, 12, 12, 0.5), 62px 200px 0 24px rgba(188, 21, 21, 0.5), -113px 126px 0 25px rgba(46, 5, 5, 0.5), 87px 148px 0 30px rgba(69, 8, 8, 0.5), -61px 396px 0 7px rgba(64, 7, 7, 0.5), 64px 226px 0 18px rgba(69, 8, 8, 0.5), -79px 224px 0 33px rgba(119, 13, 13, 0.5), 74px 272px 0 1px rgba(60, 7, 7, 0.5), -45px 349px 0 15px rgba(37, 4, 4, 0.5), 110px 181px 0 11px rgba(138, 15, 15, 0.5), -119px 103px 0 13px rgba(83, 9, 9, 0.5), 61px 217px 0 5px rgba(106, 12, 12, 0.5), -101px 124px 0 19px rgba(197, 22, 22, 0.5), 136px 268px 0 1px rgba(184, 20, 20, 0.5), -133px 328px 0 15px rgba(106, 12, 12, 0.5), 128px 271px 0 1px rgba(119, 13, 13, 0.5), -77px 228px 0 9px rgba(106, 12, 12, 0.5), 129px 254px 0 25px rgba(110, 12, 12, 0.5), -103px 285px 0 19px rgba(115, 13, 13, 0.5), 29px 179px 0 7px rgba(230, 26, 26, 0.5), -104px 357px 0 31px rgba(211, 23, 23, 0.5), 120px 82px 0 30px rgba(230, 26, 26, 0.5), -46px 160px 0 12px rgba(193, 21, 21, 0.5), 36px 110px 0 38px rgba(18, 2, 2, 0.5), -23px 303px 0 34px rgba(142, 16, 16, 0.5), 90px 198px 0 33px rgba(96, 11, 11, 0.5), -113px 237px 0 8px rgba(207, 23, 23, 0.5), 44px 275px 0 31px rgba(179, 20, 20, 0.5), -123px 83px 0 15px rgba(138, 15, 15, 0.5), 74px 366px 0 33px rgba(96, 11, 11, 0.5), -105px 309px 0 2px rgba(9, 1, 1, 0.5), 68px 213px 0 13px rgba(14, 2, 2, 0.5), -69px 400px 0 39px rgba(28, 3, 3, 0.5), 74px 312px 0 29px rgba(110, 12, 12, 0.5), -93px 295px 0 27px rgba(184, 20, 20, 0.5), 41px 288px 0 34px rgba(207, 23, 23, 0.5); }
  #nerddisco canvas {
    position: relative;
    background: #000; }

video {
  display: none;
  visibility: hidden; }

.buttons {
  margin: .25em 0 0 0;
  padding: 0 0 0 .5em;
  display: inline-block;
  float: left;
  text-transform: uppercase;
  border-left: 1px solid #333; }
