.selector_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: opacity ease-in .3s;
  transition: opacity ease-in .3s;
  opacity: 1;
  z-index: 1337; }
  .selector_container::after, .selector_container::before {
    content: ''; }
  .selectortoggle:not(:checked) ~ div .selector_container {
    opacity: 0; }

.ndSelector {
  -webkit-animation: red-pulse 1s alternate infinite;
  animation: red-pulse 1s alternate infinite;
  position: relative; }
  .ndSelector::after {
    color: rgba(255, 255, 255, 0.8);
    content: "[" attr(data-name) "]";
    position: absolute;
    top: -40px;
    left: 20px; }
  .ndSelector::before {
    content: '';
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    height: 30px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    position: absolute;
    top: -29px;
    left: 13px; }
  .ndSelector[data-visible='true'] {
    opacity: 1; }
  .ndSelector[data-visible='false'] {
    opacity: 0; }

@-webkit-keyframes red-pulse {
  from {
    -webkit-box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 255, 255, 0.8), 0 0 5px 3px rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 255, 255, 0.8), 0 0 5px 3px rgba(255, 255, 255, 0.9); }
  to {
    -webkit-box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 255, 255, 0.8), 0 0 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 255, 255, 0.8), 0 0 0px rgba(255, 255, 255, 0.4); } }

@keyframes red-pulse {
  from {
    -webkit-box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 255, 255, 0.8), 0 0 5px 3px rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 255, 255, 0.8), 0 0 5px 3px rgba(255, 255, 255, 0.9); }
  to {
    -webkit-box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 255, 255, 0.8), 0 0 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 2px black, 0 0 0 3px rgba(255, 255, 255, 0.8), 0 0 0px rgba(255, 255, 255, 0.4); } }

.controls {
  position: relative;
  margin-left: 40px;
  margin-right: -20px;
  padding-top: 100px; }
  .controls label,
  .controls button {
    position: relative;
    display: block;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    cursor: pointer;
    background: 0 0 transparent -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(49%, rgba(255, 255, 255, 0.5)));
    background: 0 0 transparent -webkit-linear-gradient(left, transparent 50%, rgba(255, 255, 255, 0.5) 49%);
    background: 0 0 transparent linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.5) 49%);
    background-size: 202%;
    -webkit-transition: background-position ease-in .3s;
    transition: background-position ease-in .3s; }
    .controls label:hover, .controls label:focus,
    .controls button:hover,
    .controls button:focus {
      background-position: -98% 0; }
    .controls label::after,
    .controls button::after {
      content: '';
      width: 1px;
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      height: 60px;
      -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
      transform-origin: top right;
      position: absolute;
      right: 100%;
      top: 100%;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.selectortoggle {
  opacity: 0; }

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #222;
  font: 16px monospace; }

h1 {
  font-size: 2em;
  padding: 0;
  margin: 0; }

h2 {
  font-size: 1.25em;
  padding: 0;
  margin: .25em 0 0 0; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

#nerddisco {
  position: relative;
  width: 480px;
  height: 480px;
  -webkit-box-shadow: -40px 0 0 -20px rgba(92, 10, 10, 0.5), 40px 0 0 -20px rgba(207, 23, 23, 0.5);
  box-shadow: -40px 0 0 -20px rgba(92, 10, 10, 0.5), 40px 0 0 -20px rgba(207, 23, 23, 0.5); }
  #nerddisco::before {
    content: '';
    position: absolute;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 0 transparent, -109px 208px 0 25px rgba(50, 6, 6, 0.5), 39px 160px 0 27px rgba(179, 20, 20, 0.5), -66px 85px 0 28px rgba(41, 5, 5, 0.5), 59px 329px 0 34px rgba(73, 8, 8, 0.5), -45px 392px 0 1px rgba(225, 25, 25, 0.5), 79px 118px 0 31px rgba(96, 11, 11, 0.5), -75px 244px 0 7px rgba(73, 8, 8, 0.5), 49px 247px 0 5px rgba(60, 7, 7, 0.5), -129px 220px 0 3px rgba(165, 18, 18, 0.5), 63px 364px 0 10px rgba(32, 4, 4, 0.5), -92px 207px 0 18px rgba(46, 5, 5, 0.5), 106px 350px 0 2px rgba(106, 12, 12, 0.5), -103px 349px 0 6px rgba(23, 3, 3, 0.5), 89px 296px 0 36px rgba(151, 17, 17, 0.5), -128px 258px 0 4px rgba(101, 11, 11, 0.5), 24px 101px 0 16px rgba(151, 17, 17, 0.5), -136px 341px 0 34px rgba(69, 8, 8, 0.5), 124px 103px 0 17px rgba(14, 2, 2, 0.5), -25px 313px 0 20px rgba(92, 10, 10, 0.5), 93px 320px 0 25px rgba(23, 3, 3, 0.5), -21px 313px 0 18px rgba(142, 16, 16, 0.5), 109px 108px 0 22px rgba(142, 16, 16, 0.5), -124px 400px 0 19px rgba(193, 21, 21, 0.5), 122px 364px 0 19px rgba(46, 5, 5, 0.5), -89px 175px 0 40px rgba(151, 17, 17, 0.5), 72px 253px 0 30px rgba(50, 6, 6, 0.5), -107px 99px 0 18px rgba(230, 26, 26, 0.5), 116px 110px 0 40px rgba(50, 6, 6, 0.5), -140px 241px 0 15px rgba(101, 11, 11, 0.5), 116px 333px 0 28px rgba(50, 6, 6, 0.5), -52px 193px 0 1px rgba(110, 12, 12, 0.5), 65px 149px 0 30px rgba(124, 14, 14, 0.5), -62px 343px 0 6px rgba(115, 13, 13, 0.5), 30px 316px 0 26px rgba(165, 18, 18, 0.5), -118px 97px 0 31px rgba(69, 8, 8, 0.5), 29px 263px 0 4px rgba(41, 5, 5, 0.5), -44px 253px 0 35px rgba(46, 5, 5, 0.5), 122px 267px 0 31px rgba(202, 22, 22, 0.5);
    box-shadow: 0 0 transparent, -109px 208px 0 25px rgba(50, 6, 6, 0.5), 39px 160px 0 27px rgba(179, 20, 20, 0.5), -66px 85px 0 28px rgba(41, 5, 5, 0.5), 59px 329px 0 34px rgba(73, 8, 8, 0.5), -45px 392px 0 1px rgba(225, 25, 25, 0.5), 79px 118px 0 31px rgba(96, 11, 11, 0.5), -75px 244px 0 7px rgba(73, 8, 8, 0.5), 49px 247px 0 5px rgba(60, 7, 7, 0.5), -129px 220px 0 3px rgba(165, 18, 18, 0.5), 63px 364px 0 10px rgba(32, 4, 4, 0.5), -92px 207px 0 18px rgba(46, 5, 5, 0.5), 106px 350px 0 2px rgba(106, 12, 12, 0.5), -103px 349px 0 6px rgba(23, 3, 3, 0.5), 89px 296px 0 36px rgba(151, 17, 17, 0.5), -128px 258px 0 4px rgba(101, 11, 11, 0.5), 24px 101px 0 16px rgba(151, 17, 17, 0.5), -136px 341px 0 34px rgba(69, 8, 8, 0.5), 124px 103px 0 17px rgba(14, 2, 2, 0.5), -25px 313px 0 20px rgba(92, 10, 10, 0.5), 93px 320px 0 25px rgba(23, 3, 3, 0.5), -21px 313px 0 18px rgba(142, 16, 16, 0.5), 109px 108px 0 22px rgba(142, 16, 16, 0.5), -124px 400px 0 19px rgba(193, 21, 21, 0.5), 122px 364px 0 19px rgba(46, 5, 5, 0.5), -89px 175px 0 40px rgba(151, 17, 17, 0.5), 72px 253px 0 30px rgba(50, 6, 6, 0.5), -107px 99px 0 18px rgba(230, 26, 26, 0.5), 116px 110px 0 40px rgba(50, 6, 6, 0.5), -140px 241px 0 15px rgba(101, 11, 11, 0.5), 116px 333px 0 28px rgba(50, 6, 6, 0.5), -52px 193px 0 1px rgba(110, 12, 12, 0.5), 65px 149px 0 30px rgba(124, 14, 14, 0.5), -62px 343px 0 6px rgba(115, 13, 13, 0.5), 30px 316px 0 26px rgba(165, 18, 18, 0.5), -118px 97px 0 31px rgba(69, 8, 8, 0.5), 29px 263px 0 4px rgba(41, 5, 5, 0.5), -44px 253px 0 35px rgba(46, 5, 5, 0.5), 122px 267px 0 31px rgba(202, 22, 22, 0.5); }
  #nerddisco canvas {
    position: relative;
    background: #000; }

video {
  display: none;
  visibility: hidden; }

.buttons {
  margin: .25em 0 0 0;
  padding: 0 0 0 .5em;
  display: inline-block;
  float: left;
  text-transform: uppercase;
  border-left: 1px solid #333; }
